.header {
	background-color: #fff;
	padding: 16px;

	&__list {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		gap: 16px;
		margin: 0;
		padding: 0;
	}

	&__link {
		color: #2e3c40;
		font-weight: 700;
		transition: all 0.3s ease-in-out;

		&:hover,
		&--active {
			border-bottom: 1px solid #2e3c40;
		}
	}
}
